.new-todo{
  width: 100%;
  min-width: 170px;
  background-color: var(--primary-color);
  position: absolute;
  max-width: 1128px;
  border-radius: 26px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 2rem;
  left: 0;
  animation: openModalTodo .25s ease-out both;
  z-index: 10;
}
@keyframes openModalTodo {
  0% {
    height: 0;
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    height: calc(100vh - 72px);
    opacity: 1;
  }
}
.new-todo-close {
  animation: closeModalTodo .25s ease-out both;
}
@keyframes closeModalTodo {
  0% {
    height: calc(100vh - 72px);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
.new-todo__header {
  display: flex;
  justify-content: center;
}
.icon-arrowback {
  cursor: pointer;
  width: 36px;
  min-width: 24px;
  height: auto;
}
.new-todo__title {
  width: 100%;
  background-color: transparent;
  margin-left: 2rem;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: var(--terciary-color);
  outline: none;
  font-weight: 400;
  text-overflow: ellipsis;
}
.new-todo__title::placeholder {
  color: var(--secondary-color);
}
.new-todo__date, .new-todo__hours {
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: var(--secondary-color);
  text-wrap: nowrap;
}
.new-todo__textarea {
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  background-color: transparent;
  resize: none;
  width: 100%;
  height: calc(100% - 49px);
  border: none;
  outline: none;
  color: var(--terciary-color);
}
.new-todo__textarea::placeholder {
  color: var(--secondary-color);
}
.icon-save {
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 4.5rem;
  height: 4.5rem;
}
@media (width < 699px) {
  .new-todo {
    width: calc(100% - 48px);
  }
  .new-todo__title {
    font-size: 3.2rem;
  }
  .new-todo__date,
  .new-todo__hours {
    font-size: 1.6rem;
  }
}
@media (width < 320px) {
  .new-todo {
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-right: 12px;
  }
  .new-todo__title {
    font-size: 3.2rem;
  }

  .new-todo__date,
  .new-todo__hours {
    display: none;
  }

}
