<aside class="other-tech">
  <app-frameworks></app-frameworks>
</aside>
<main>
  <app-new-todo [modal]="isVisibleModal" (sendCloseModal)="closeModal($event)"/>
  <header>
    <app-input-search></app-input-search>
    <app-section-category [visibleInputCategory]="isVisibleCategory" (isVisibleInputCategory)="handleVisibleInput($event)"></app-section-category>
  </header>
  <article>
    <app-logo-angular [visibleInputCategory]="isVisibleCategory" />
    <!-- <app-logo-add-todo [visibleInputCategory]="isVisibleCategory" (sendOpenModal)="openModal($event)"></app-logo-add-todo> -->
    <!-- <app-logo-not-found></app-logo-not-found> -->
    <app-arrays-todos></app-arrays-todos>
  </article>
</main>
<aside>
  <div class="github-profile"></div>
</aside>
