.logo-add-todo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%) translateY(-50%);
  /* border: 1px solid var(--primary-color); */
  border-radius: 50%;
  animation: pulsar 1s ease-in-out infinite;
}

@keyframes pulsar {
  0% {
    outline: 0px solid var(--primary-color);
  }
  100% {
    outline: 25px solid transparent;

  }

}
